<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="strConn" connectionString="User id=sa;Password=batmax;Initial Catalog=ItalianJazzHub;data source=LOCALHOST\SQLXE;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="ServerMail" value="smtp.gmail.com"/>
        <add key="Mail_Login" value="massimiliano.sani"/>
        <add key="Mail_Psw" value="7BEB450E043881B0BCF95280CD897A8B"/>
        <add key="ServerPort" value="465"/>
        <add key="ServerSSL" value="S"/>

        <add key="Mail_Test" value="S"/>
        <add key="InvioMail" value="N"/>
        <add key="MailInvio" value="massimiliano.sani@gmail.com"/>
        <add key="MailControllo" value="massimiliano.sani@gmail.com"/>
        <add key="MailAssistenza" value="massimiliano.sani@gmail.com"/>
        <add key="MailAmministrazione" value="massimiliano.sani@gmail.com"/>
        <add key="No_Reply" value="no_reply@mesys.it"/>

        <add key="Repository" value="http://localhost/Repository/JazzHub_Web"/>
        <add key="FileRepository" value="C:\Dati\Repository\JazzHub_Web"/>
        <add key="Web_Site" value="http://localhost:1795"/>
        <add key="Nome_Azienda" value="Italian Jazz Hub"/>
        <add key="DataFormat" value="dd/MM/yyyy"/>
        <add key="PasswordPolicy" value="3"/>
        <add key="Max_Size_MB" value="300"/>

        <add key="RegGen" value="C:\Program Files\Microsoft SDKs\Windows\v7.0A\bin\NETFX 4.0 Tools\ResGen.exe"/>
        <add key="Al" value="C:\Program Files\Microsoft SDKs\Windows\v7.0A\bin\NETFX 4.0 Tools\Al.exe"/>

        <add key="PayPal_User" value="mesys@gmail.com" />
        <add key="PayPal_Site" value="https://www.sandbox.paypal.com/it/cgi-bin/webscr" />

        <add key="PayPal_User_Prod" value="Italianjazzhub" />
        <add key="PayPal_Site_Prod" value="https://www.paypal.com/cgi-bin/webscr" />

    </appSettings>
    <location path="Lng_Res/Generatore_Lingue.aspx">
        <system.web>
            <httpRuntime requestValidationMode="2.0" />
        </system.web>
    </location>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
        <httpRuntime maxRequestLength="1048576" executionTimeout="3600" /> <!-- 1 GB -->
        <sessionState timeout="60"></sessionState>
        <httpHandlers>
            <add verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha" />
            <add verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" validate="false"/>
            <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI"/>
        </httpHandlers>
        <httpModules>
            <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI"/>
        </httpModules>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <handlers>
            <remove name="CaptchaImage_aspx"/>
            <remove name="Telerik.Web.UI.WebResource"/>
            <remove name="Telerik_RadUploadProgressHandler_ashx"/>
            <add name="CaptchaImage_aspx" preCondition="integratedMode" verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha" />
            <add name="Telerik.Web.UI.WebResource" preCondition="integratedMode" verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
            <add name="Telerik_RadUploadProgressHandler_ashx" preCondition="integratedMode" verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" />
        </handlers>
        <modules>
            <add name="RadUploadModule" preCondition="integratedMode" type="Telerik.Web.UI.RadUploadHttpModule" />
        </modules>
    </system.webServer>
</configuration>
